
html {

	background-image: url(images/wood.png);
	min-width: 1024px;
	
}

h1, article, li, p, li {

font-family: 'Arial Narrow', Helvetica, sans-serif; ;

}

/* CSS Reset */
body, h1, h2, h3, p {
	
	margin: 0;
	
}

/* IMPORTANT COLORS */
/* Main body copy: cool gray 2 (R230, G231, B232) */
/* Brown : R77, G37, B0 */
/* Yellow type: R238, G177, B17) */
/* R159, G11, B16 */



/*


*/

#wrapper{
	position: relative;
}


#content {
	background-image: url(images/main2.png);
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
	margin-top: ;
	
}



/* Markup for Nav Buttons */

#navcontents {
	position: relative;
	left: 6px;
	padding-top: 165px;
	color: black;
	float: right;
	text-align: center;
	width: 100%;
	font-family: 'Arial Narrow', arial, Helvetica, sans-serif;
	
}

#navcontents ul li{
	display:  inline;
}
/*
#navcontents ul  a{
	
padding: 0.2em 1em;
background-color: #000;
color: white;
text-decoration: none;
float: left;
border-right: 1px solid #fff;

}*/

/* Markup for CSS3 Buttons with Gradient and Hover States */

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}


/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}


/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}


/*

a {
	color: RGB(230,231,232);
	font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
	text-decoration: none;
}

*/

/*
#panel {
	
	width: 660px;
	height: 240px;
	margin: 140px 70px;
}
*/

#slideshow {
	background-color: black;
	
	margin-left: 80px;
	margin-top: 25px;
	width: 660px;
	height: 240px;
	
}




.slider {
	
	background-color: black;
	width: 660px;
	height: 240px;	
}


p#caption {
	margin-top: 300px;
	text-align: right;
	color: RGB(230,231,232);
	font-size: small;
	right: 55px;
	top: 8px;
}

#note {
	
	top: 20px;
	
}



#article {
	color: RGB(230,231,232);
	margin: 0;
	padding: 0;
	margin-top: 30px;
	font-size: .75em;
	
}

#article p {
	font-size: 1.5em;
	margin-left: 80px;
	margin-right: 225px;
	margin-top: 20px;
	line-height: 1.75em;
	font-weight: lighter;
	
}

#autograph {
	position: relative;
	display: inline-block;
	top: -35px;
	margin-left: 80px;
	margin-right: 120px;
}

#signoff p{
	line-height: .1em;
}

#welcome {
	
	margin-left: 80px;
	
}



/*******************************
/    SideBar CSS Construction  /
/******************************/


#sidebar {
	
	margin-top: 5px;
	background-image: url(images/ribbon.png);
	background-repeat: repeat-y;
	height: 200%;
	margin-right: 25px;
	margin-left: 40px;
	width: 141px;
	height: 1200px;
	float: right;
	position: relative;
	clear: both;
	top:  -105px;
	
	
}

#sidebar:after {
	background-image: url(images/ribbon.png);
	overflow: hidden;
}

#sidebar p, a{
	color: RGB(238, 177, 17);	
}

p.thanks:first-child  {
	font-style: italic;
	
}


#thanks1 {
	border-bottom: 13px solid black;
	padding: 8px;
	padding-bottom: 0px;
	line-height: 1.25;
	
}

#thanks1 a{
	text-decoration: none;
}

p.thanks, a.thanks{
	font-size: ;
	color: RGB(238,177,17);
	text-align: left;
	margin: 3px;
	text-decoration: none;
}



#island {
	border-bottom: 13px solid black;
	padding: 8px;
	font-size: 90%;
}

p #island:first-child {
	color: white;
}

.join {
	padding-bottom: 7px;	

}


#join1 {
	border-bottom: 13px solid black;
	padding: 12px;
	
}

/* Put Ukelele off to the side in Join area */

#join1 img {
	position: absolute;
	z-index: 300;
	top: 220px;
	left: 85px;
	float: clear;
}

/* Draw little outline box for GUINESS RECORD */

#part {
	border: 1px solid #e6ac43;
	padding: 7px  5px;
	line-height: 1.25em;
}

#part p{
	font-size: 50%;;
}

#part span {
	color: RGB(231,232,233);
}


#brunch {
	border-bottom: 13px solid black;
	text-align: left;
	padding: 10px;
}

#KVKHCC {
	border-bottom: 13px solid black;
	padding: 8px;
	line-height: 1.5em;
	text-align: center;
	font-size: 90%;
	
	
}
#KVKHCC img{
	
	position: absolute;
	float: left;
	right: 105px;
}

#KVKHCC a{
	
	color: RGB(231,232,233);
	text-decoration: none;
	padding: 4px;
	font-family: 'Arial Narrow', arial, Helvetica, sans-serif;
	border: 1px solid RGB(238, 177, 17);
	margin: 10px;
	
}

.oha a{
	
	color: RGB(231,232,233);
	text-decoration: none;
	padding: 4px;
	font-family: 'Arial Narrow', arial, Helvetica, sans-serif;
	margin: 10px;
	
}

#survey a{
	
	color: RGB(238,177,17);
	border: 0;
}


#KVKHCC p{
		
	line-height: 1.25em;
	
}


.question{
	border-bottom: 13px solid black;
	padding: 8px;
	text-align: center;
}

#qbox {
	border: 1px solid RGB(238,177,17);
	text-align: center;
	margin: 7px;
	padding: 2px;
}

.question:first-child {
	color: RGB(231,232,233);
}

#ho {
	position: relative;
	border-bottom: 13px solid black;
	padding: 4px;
	color: RGB(231,232,233);
}


#ho img {
	margin-left: px;
	position: relative;
	float: right;
	top: 20px;
	
	
	
}
/*********END SIDEBAR STYLE*********************************/


#caption {
	color: RGB(231,232,233);
	
	
}





/*************FOOTER STYLE**********************************/

#footer {	
	padding: 0 3em;
	padding-top: 150px;
	color: RGB(230,231,232);
	width: 700px;
	}


#legal {
	border-top: 1px solid white;
	padding-top: .5em;
	}

#across {
	font-size: small;
	float: right;
	text-align: right;
}

.info {
	font-size: small;
	padding-bottom: .5em;
	letter-spacing: 1px;
}

#ots {
	position: relative;
	left: 650px;
	top: -60px;
	clear: both;	
	border-style: none;
	
}

#legal {
	
	position: relative;
	top: -55px;
	
}
